[alias]
	tpush = "!f() { git add -A && git commit -m \"${@:2}\" && git tag -f $1 && git push && git push origin -f $1; }; f"
	cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	gud = reset
	c = commit
	ac = "!f() { git add -A && git commit -m \"$@\"; }; f"
	ca = commit --amend --no-edit
	aca = "!f() { git add -A && git commit --amend --no-edit; }; f"
	co = checkout
	s = status
	a = add
	sl = log --oneline
	bl = log --oneline --graph --all
[credential]
	helper = store
[merge]
	conflictstyle = diff3
