[user]
        name = ae
        email = 90932525+ea-ae@users.noreply.github.com
[core]
        pager = delta
[interactive]
        diffFilter = delta --color-only
[alias]
	cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	gud = reset
	c = commit
	ac = "!f() { git add -A && git commit -m \"$@\"; }; f"
	ca = commit --amend --no-edit
	aca = "!f() { git add -A && git commit --amend --no-edit; }; f"
	co = checkout
	s = status
	a = add
	sl = log --oneline
	bl = log --oneline --graph --all
[diff]
        colorMoved = default
[delta]
        navigate = true
        side-by-side = true
        light = false
[credential]
	helper = store
[merge]
	conflictstyle = diff3
	ff = false
